.transactionTable {
  border-collapse: collapse;
  width: 600px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid #ccc;
}

.transactionTable th {
  background-color: #2b2b2b;
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.transactionTable td {
  padding: 10px;
  text-align: center;
  border: 1px solid gray;
}

.transactionTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.transactionTable tr:nth-child(odd) {
  background-color: #e0e0e0;
}

.transactionTable tr:hover {
  background-color: #ccc;
}
